@using InMemoryQueue.Core.Dtos

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#btn-create-excel").click(function () {
                $.ajax({
                     url: "/Home/CreateExcel",
                     type:"GET",
                     dataType:"json",
                     success: function (data) {
                         $(".toast-body").html("Excel oluşturma isteği alınmıştır. Tamamlandığında bilgilendirileceksiniz.");
                         $("#liveToast").show();
                         toastTimeout=  setTimeout(() => {
                             $("#liveToast").hide();
                         },3000)
                     },
                    error: function (err) {
                        alert("Excel dosyasını indirebilmeniz için üye olmanız gerekmektedir.")
                    }
                })
            })
        });
    </script>
}

@model List<ProductDto>

<p>
    <a class="btn btn-primary" href="#" id="btn-create-excel">Create Excel</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Category
            </th>
            <th>
                Stock
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Category
                </td>
                <td>
                    @item.Stock
                </td>
                <td>
                    @item.Price
                </td>
            </tr>
        }
    </tbody>
</table>